* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.card .logo-mobile {
  padding: 2em;
}

.card .hero-img {
  margin: 0 0 4em 0;
}

.card .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.card .main .logo-desktop {
  display: none;
}

.card .main h1 {
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #413a3a;
}

.card .main h1 span {
  color: #ce9797;
  font-weight: lighter;
}

.card .main .p1 {
  color: #ce9797;
  text-align: center;
  padding: 2em;
  line-height: 2;
  font-weight: bold;
}

.card .main form {
  position: relative;
}

.card .main input {
  padding: 1em 3em;
  border: 1px solid #ce9797;
  border-radius: 30px;
  min-width: 350px;
}

.card .main input:focus {
  outline: 1px solid #f96262;
}

.card .main ::-webkit-input-placeholder {
  color: #ce9797;
  text-align: left;
}

.card .main :-ms-input-placeholder {
  color: #ce9797;
  text-align: left;
}

.card .main ::-ms-input-placeholder {
  color: #ce9797;
  text-align: left;
}

.card .main ::placeholder {
  color: #ce9797;
  text-align: left;
}

.card .main .error-img {
  display: none;
  position: absolute;
  right: 5em;
  top: .7em;
}

.card .main .btn {
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  padding: .8em 2.2em;
  border: none;
  border-radius: 25px;
  position: absolute;
  right: -10px;
  cursor: pointer;
}

.card .main .btn:hover {
  background-image: linear-gradient(135deg, #f8bfbf, #f8bfbf);
  -webkit-box-shadow: 1px 1px 0.5px 0.5px #f96262;
          box-shadow: 1px 1px 0.5px 0.5px #f96262;
}

.card .main .error {
  display: none;
  color: #f96262;
  margin-top: 1em;
  margin-left: 2em;
}

@media (min-width: 768px) {
  body {
    background-image: url(images/bg-pattern-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    max-width: 1440px;
    width: 100%;
  }
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .card .logo-mobile {
    display: none;
  }
  .card .hero-img {
    margin: 0;
  }
  .card .main {
    width: 70%;
    position: relative;
    padding: 7em;
    margin-left: 4em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .card .main .logo-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 7em;
    top: -3em;
  }
  .card .main .p1 {
    padding-left: 0;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */